{% extends 'apps/base.html' %}
{% load markdown_extras %}

{% block extra-js %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<script>
	MathJax = {
		tex: {inlineMath: [['$', '$'], ['\\(', '\\)']]}
	};
</script>
{% if user.is_authenticated %}
<script>
	$(".custom-file-input").on("change", function() {
		var fileName = $(this).val().split("\\").pop();
		$(this).siblings(".custom-file-label").addClass("selected").html(fileName);
	});
	
	$("form").submit(function() {
		if (window.File && window.FileReader && window.FileList && window.Blob) {
			var file = $('input[name = "submission"')[0].files[0];
			if (file && file.size > 256 * 1024) {
				alert("File is too big, the maximum size allowed is 256KB");
				return false;
			} else {
				$('button[name = "submit"').attr("disabled", true);
				$('button[name = "submit"').html = "Sending…";
			}
		}
	});
</script>

{% endif %}
{% endblock extra-js %}

{% block content %}
<div class="problem-header mb-4">
	<h1>{{ Problem.name }}</h1>
	<pre class="text-left">Time Limit   : {{ Problem.time_limit }} s<br/>Memory Limit : {{ Problem.memory_limit }} MB</pre>
</div>
<div class="problem-description mb-4">
	{{ Problem.description|markdown|safe }}
</div>
<div class="problem-input mb-4">
	<h5>Input Format :</h5>
	{{ Problem.input_format|markdown|safe }}
</div>
<div class="problem-output mb-4">
	<h5>Output Format :</h5>
	{{ Problem.output_format|markdown|safe }}
</div>
<div class="problem-constraint mb-4">
	<h5>Constraint :</h5>
	{{ Problem.constraints|markdown|safe }}
</div>

{% for sample in Samples %}
<div class="problem-sample pb-3">
	<h5>Sample Input  {{ forloop.counter }} :</h5>
	<div class="bg-light pt-3 pl-3 pr-3 mb-4 rounded border">
		<pre>{{ sample.input }}</pre>
	</div>
	
	<h5>Sample Output  {{ forloop.counter }} :</h5>
	<div class="bg-light pt-3 pl-3 pr-3 mb-4 rounded border">
		<pre>{{ sample.output }}</pre>
	</div>
	{% if sample.explanation|length > 0 %}
	<h5>Explanation {{ forloop.counter }} :</h5>
	{{ sample.explanation|markdown|safe }}
	{% endif %}
</div>
{% endfor %}
{% if user.is_authenticated %}
<form action="#" method="POST" enctype="multipart/form-data">
	{% csrf_token %} 
	<div class="custom-file mb-2">
		<input type="file" accept=".go, .cpp, .c" class="custom-file-input" name="submission">
		<label class="custom-file-label" for="submission">Choose file</label>
	</div>
	<br/>
	<button type="submit" class="btn btn-primary btn-block" name="submit">Submit</button>
</form>
{% else %}
<h5>You must login to submit solutions.</h5>
{% endif %}
{% endblock content %}