{% extends 'apps/base.html' %}

{% block extra-css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock extra-css %}

{% block extra-js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
	$(document).ready(function() {
		$('#problems').DataTable();
	} );
</script>
{% endblock extra-js %}

{% block content %}
<h2>Problems</h2>
<table id="problems" class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Name</th>
			<th scope="col">Success Rate</th>
			<th scope="col">Total Submission</th>
		</tr>
	</thead>
	<tbody>
		{% for problem in Problems %}
		<tr>
			<th scope="row">{{ forloop.counter }}</th>
			<td><a href="{% url 'apps:problem' problem.id %}">{{ problem.name }}</a></td>
			<td>{{ problem.success }}%</td>
			<td>{{ problem.total }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}