{% extends 'apps/base_auth.html' %}

{% block extra-js %}
<script>
    $("form").submit(function() {
        $('button[name = "submit"').attr("disabled", true);
        $('button[name = "submit"').html = "Sending…";
    });
</script>
{% endblock extra-js %}

{% block content %}
<br/>
<div class="form-register p-4 shadow bg-white mt-5">
    <h3 class="text-center">Register</h3>
    <div class="output">
        {% if Message|length > 0 %}
        <div class="alert alert-danger alert-dismissible fade show">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Error!</strong>
            {{ Message }}
        </div>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="username" class="form-control" name="username" required/>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" name="email" required/>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" required/>
        </div>
        <div class="form-group">
            <label for="retype_password">Retype Password:</label>
            <input type="password" class="form-control" name="retype_password" required/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">Register</button>
    </form>
</div>
{% endblock content %}
