{% extends 'apps/base.html' %}

{% block extra-css %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">
{% endblock extra-css %}

{% block extra-js %}
<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<script>
	$(document).ready(function() {
		$('#submission').DataTable();
	} );
</script>
{% endblock extra-js %}

{% block content %}
<h2>My Submissions</h2>
<table id="submission" class="table table-hover">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">Problem</th>
			<th scope="col">Language</th>
			<th scope="col">Score</th>
			<th scope="col">Status</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		{% for submission in Submissions %}
		<tr>
			<th scope="row">{{ submission.id }}</th>
			<td><a href="{% url 'apps:problem' submission.problem_id %}">{{ submission.problem }}</a></td>
			<td>{{ submission.language }}</td>
			<td>{{ submission.score }}</td>
			<td>{{ submission.get_status_display }}</td>
			<td><a href="{% url 'apps:submission' submission.id %}">View</a></td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endblock content %}