<!DOCTYPE html>
<html lang="en">
	<head>
		<title>{{ Title }}</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></link>
        {% block extra-css %}
		{% endblock extra-css %}
	</head>
	<body class="bg-light">
		<div class="container">
			<div class="row align-items-center justify-content-center">
				<div class="col-4">
                    {% block content %}
                    {% endblock content %}
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {% block extra-js %}
        {% endblock extra-js %}
	</body>
</html>
